{% load form_tags widget_tweaks %}
{#http://www.jb51.net/article/87046.htm#}
{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
     {% for error in form.non_field_errors %}
       <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
     {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
        {% render_field field class=field|input_class %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}

{#    {% if form.is_bound %}#}
{#      {% if field.errors %}#}   {# 使用模版标签替代 #}
{#        {% render_field field class="form-control is-invalid" %}#}
{#        {% for error in field.errors %}#}
{#          <div class="invalid-feedback">#}
{#            {{ error }}#}
{#          </div>#}
{#        {% endfor %}#}
{#      {% else %}#}
{#        {% render_field field class="form-control is-valid" %}#}
{#      {% endif %}#}
{#    {% else %}#}
{#      {% render_field field class="form-control" %}#}
{#    {% endif %}#}

    {% if field.help_text %}
      <small class="form-text text-muted">
            {{ field.help_text|safe }}{# 确保格式正确 #}
{#       {{ field.help_text }}#}
      </small>
    {% endif %}
  </div>
{% endfor %}