{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">主页</li>
{% endblock %}

{% block context %}
        <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>主题</th>
            <th>文章</th>
            <th>话题</th>
            <th>最后提交</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <td>
                  <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                <small class="text-muted d-block">{{ board.description }}</small>
              </td>
              <td class="align-middle">
                {{ board.get_posts_count }}
              </td>
              <td class="align-middle">
                {{ board.topics.count }}
              </td>
              <td class="align-middle">
                {% with post=board.get_last_post %}
              {% if post %}
              <small>
{#                <a href="{% url 'topic_posts' board.pk topic.pk %}">#}
                  <a href="#">
                  由 {{ post.created_by.username }} 发表于 {{ post.created_at }}
                </a>
              </small>
              {% else %}
                 <small class="text-muted">
                    <em>没有提交</em>
                 </small>
              {% endif %}
                {% endwith %}
          </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
{% endblock %}

