{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}发布新话题{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">新话题</li>
{% endblock %}

{% block context %}
    <form method="post" novalidate>
  {% csrf_token %}
    {% include 'includes/form.html' %}

{#        {{ form.as_p }}#}

{#        将form有三种渲染选项：form.as_table，form.as_ul，和form.as_p。这是渲染表单所有字段的快速方法。#}
{#        顾名思义，as_table使用表标签来格式化输入，as_ul 创建输入的HTML列表等#}
{#    <div class="form-group">#}
{#        <label for="id_subhect">Subject</label>#}
{#        <input type="text" class="form-control" id="id_subjext" name="subject">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="id_message">Message</label>#}
{#        <textarea class="form-control" id="id_message" name="message"></textarea>#}
{#    </div>  # 由widget=forms.Textarea()渲染了文本表单#}
    <button type="submit" class="btn btn-success">提交</button>
    </form>
{% endblock %}