{% extends 'base_accounts.html' %}

{% block title %}密码重置{% endblock %}

{% block context %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">密码重置</h3>
          <p>输入您的邮箱地址，我们将发送一个链接重置您的密码。</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">点击发送邮件</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}