{% extends 'base_accounts.html' %}

{% block title %}密码修改成功!{% endblock %}

{% block context %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">密码已被更改!</h3>
          <div class="alert alert-success" role="alert">
            您已经成功地更改了您的密码!现在可以开始登录了.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}