{% extends 'base.html' %}

{% block title %}密码修改成功{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">密码修改</a> </li>
  <li class="breadcrumb-item active">成功</li>
{% endblock %}

{% block context %}
 <div class="alert alert-success" role="alert">
    <strong>成功！</strong> 您的密码已更改！
 </div>
    <a href="{% url 'home' %}" class="btn btn-primary">返回首页</a>
{% endblock %}