{% extends 'base_accounts.html' %}

{% block title %}密码重置{% endblock %}

{% block context %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置您的密码</h3>
          <p>检查您的电子邮件的链接，以重置您的密码。如果它在几分钟之内没有出现，请检查是否在您的垃圾邮箱.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
