{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">修改密码</li>
{% endblock %}

{% block context %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">修改密码</button>
      </form>
    </div>
  </div>
{% endblock %}