{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    {{ form.user.username }} 密码重置
  {% else %}
    重新设置您的密码
  {% endif %}
{% endblock %}

{% block context %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">更改密码 @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">密码重置</button>
            </form>
          {% else %}
            <h3 class="card-title">重置您的密码</h3>
            <div class="alert alert-danger" role="alert">
              看起来你点击了无效的密码重置链接。请再试一次。
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">请求一个新的密码重置链接。</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}