{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
     <div class="container">
         <h1 class="text-center logo my-4">
             <a href="{% url 'home' %}">Django Boards</a>
         </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
            <h3 class="card-title">注册</h3>
     <form method="post" novalidate>
         {% csrf_token %}
         {% include 'includes/form.html' %}
         <button type="submit" class="btn btn-primary">创建一个账户</button>
     </form>
     </div>
        <div class="card-footer text-muted text-center">
           已经注册? <a href="{% url 'login' %}">点击登录</a>
           </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}