{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block context %}
    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">新贴</a>
    </div>
    <table class="table">
        <thead class="thead-inverse">
      <tr>
        <th>主题</th>
        <th>创建者</th>
        <th>回复数</th>
        <th>浏览量</th>
        <th>最近</th>
      </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
           {% url 'topic_posts' board.pk topic.pk as topic_url %}
          <tr>
           <td>
              <p class="mb-0">
                <a href="{{ topic_url }}">{{ topic.subject }}</a>
              </p>
            <small class="text-muted">
              Pages:
              {% for i in topic.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if topic.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">最后一页</a>
              {% endif %}
            </small>
           </td>
              <td>{{ topic.starter.username }}</td>
              <td>{{ topic.replies }}</td>
              <td>{{ topic.views }}</td>
{#          <td>{{ topic.last_updated|date:"Y M d D " }} {{ topic.last_updated|time:"H:i" }}</td>#}
              <td>{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{#    {% if topics.has_other_pages %}#}
{% comment %} {% if is_paginated %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ topics.previous_page_number }}">上一页</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">上一页</span>
        </li>
      {% endif %}

      {% for page_num in paginator.page_range %}
        {% if page_obj.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">下一页</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}  %}
{% endcomment %}
    {% include 'includes/pagination.html' %}

{% endblock %}